
hibernate.cfg.xml 是hibernate的配置文件
通常位于项目的 src/hibernate.cfg.xml


hibernate支持自动建表属性
  在hibernate.cfg.xml里加上如下代码
  <property name="hbm2ddl.auto">update</property>
      参数:
      update：表示自动根据model对象来更新表结构，启动hibernate时会自动检查数据库，如果缺少表，则自动建表；如果表里缺少列，则自动添加列
      create： 启动hibernate时，自动删除原来的表，新建所有的表，所以每次启动后的以前数据都会丢失。
      create-drop：启动hibernate时，自动创建表，程序关闭时，自动把相应的表都删除。所以程序结束时，表和数据也不会再存在。
      validate  加载hibernate时，验证创建数据库表结构
      none 不做其他操作

















